.case {
  border: solid black 1px;
  text-align: center;
  align-content: center;
  width: 33%;
  height: 33%;
}
#tictac {
  width: 600px;
  height: 600px;
}
.imgUni {
  height: 100px;
  width: 100px;
}
